# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Local envs (just in case)
venv/
.venv/

# Data & outputs (never commit)
data/
checkpoints/
logs/
runs/
outputs/
results/**/*.png
#Reenable this if you want to commit the plots
#!results/**/plot_*.png
results/**/*.pt
samples/

# IDE/editor
.vscode/
.idea/
LocalUtils/

# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.out
*.log

# MacOS
.DS_Store
cifar10_64ch_50ep.pt
